.terms{
    background-color:#f2f3f8;
}
.th3{
    text-align: center;
    padding-top: 2.5vmax;
}
.terms-body-main{
    margin: 3vmax;
    margin-bottom: 0;
    background-color:#ffff;
    padding: 3vmax;
    border-radius: 20px;
    line-height: 1.5;
    font-family: 'Poppins', Courier, monospace;
}

.terms-body-main > p {
    font-size: 13px;
    margin-bottom: 1rem;
}
@media (max-width: 477px) {
    .body-main{
        padding: 1.5vmax;
    }
}